
// @keyframes modal-transition{
//     0%   { top: -500px; }
//     100% { top: 50px; }
// }

// @keyframes modal-transition-exit{
//     0%   { top: 50px; }
//     100% { top: -500px; }
// }

.app-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0);

        transition: all 300ms ease;
    }
    
    &_modal-bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8);
    }

    &_img{
        border-radius: 100%;
        width: 90px;
        margin-bottom: 20px;
    }

    &_content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-width: 600px;
        width: 100%;
        min-height: 450px;
        background: #7233ed;
        border-radius: 0 50px 20px;
        top: -100%;

        // animation: modal-transition-exit 1s;
        transition: top 600ms;

        @media only screen and (max-width: 640px) {
            max-width: 100%;
            width: 90%;
        }

    }

    &_info {
        padding: 50px 30px 30px;
        color: white;
    }


    &.active{
        width: 100%;
        height: 100%;

        .app-modal{
            &_content{
                top: 50px;

                // animation: modal-transition 1s;
                
                transition: top 600ms;
            }
        }

        &:before {
            background: rgba(0,0,0,0.8);
            transition: all 300ms ease;
        }

    }

}